language: java
sudo: false

jdk:
  - openjdk6
  - openjdk7
  - oraclejdk7
  - oraclejdk8

# only build trunk
branches:
  only:
    - trunk

after_success:
  - mvn clean test jacoco:report coveralls:report
